		#div1{
		max-width:100%;
		margin:auto;
		background-image:url(images/bg-l.png);
		background-repeat:repeat-x;
		padding-bottom:20px;
		height:130px;
		}

		#div1 img{
		 max-width:98%;
		 margin:auto;
		 padding:10px;
		}
		
		#div2{
			max-width:800px;
			margin:auto;
			margin-top:10px;
			padding:0px 5px 0px 5px;
			font-family: 'Architects Daughter', cursive;
		}

		#div2-1{
			margin:auto;
			background-color:#EAE8E8;
			font-size:150%;
			border-radius:3px;
			margin-top:5px;
		}
		#div2-1 img{
			background-color:#EAE8E8;
			font-size:150%;
			border-radius:3px;
		}
		#div2-1-1{
			width:100%;
			margin:auto;
			background-color:#1158B9;
			color:#FFFFFF;
			border-radius:3px;
			padding:0px 0px 0px 0px;
			}

		#signup-l{
			color:#F8085D;
			font-weight:bold;
			font-size:20px;
		}
input,select{
font-size:16px;
}