		#div1{
		max-width:100%;
		margin:auto;
		background-image:url(images/bg.png);
		background-repeat:repeat-x;
		height:80px;
		}

		#div1 img{
		 max-width:98%;
		 margin:auto;
		 padding:10px;
		 border:none;
		}
		
		#div2{
			max-width:400px;
			margin:auto;
			margin-top:10px;
			padding:0px 5px 0px 5px;
			font-family: 'Architects Daughter', cursive;
		}
		#div2-1{
			margin:auto;
			background-color:#EAE8E8;
			font-size:150%;
			border-radius:3px;
		}
		#div2-1-1{
			width:100%;
			margin:auto;
			background-color:#127FDB;
			color:#FFFFFF;
//			border-radius:3px;
			padding:5px 0px 5px 0px;
			}

		#signup-l{
			color:#F8085D;
			font-weight:bold;
			font-size:20px;
		}
		#forgot{
			font-size:20px;
			margin:0px;
			color:#175499;
		}
		.l-div{
			
		}
/*		
		@media only screen and (min-width: 700px) {
    #div2 {
			margin-top:130px;
    }
}
	*/	