<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
 body {
	margin : 0px;
	text-align : center;
	font-family : 'Titillium Web';
 }
 #main {
	background-color  : #F6F6F6;
	max-width : 400px;
	margin :auto;
	text-align : left;
	padding : 20px;
 }
 input {
	font-family : 'Titillium Web'; 
 }
 #view {
	display : none;
 }
 .Visa {
  margin-bottom : 3px;
  background-color : #F6F6F6;
  border-left: 3px solid #59AEE9;
    padding : 10px;
 }
  .Permanent {
    margin-bottom : 3px;
  border-left: 3px solid #579444;	
  background-color : #F6F6F6;
  padding : 10px;
 }
 #cfield {
	display : none;
 }
 input,textarea,select{
	width : 250px;
	border-radius : 2px;
	height:25px;
	border:1px solid #D5D5D5;
 }
 #submit {
	background-color :#59AEE9;
	border:1px solid #59AEE9;
	color :#FFFFFF;
 }
#view,#add {
margin-bottom : 100px;
}
</style>
</head>
<body>

<h1>Interview</h1>
<div id="main">
<div ng-app="myApp" ng-controller="myCtrl">

<div id="add">
<button onclick="toggleF()">View Data</button>
<form ng-submit="myFunc()" name="myForm">
Interview purpose : <br>
<select ng-model="interviewPurpose" onchange="requiredFunc(this.name,this.value)" name="interviewPurpose" required>
  <option value="Visa">Visa</option>
  <option value="Permanent residence">Permanent residence</option>
</select> <span id="interviewPurposes" style="display:none;">This field is required</span> <br>
City : <br>

<select onchange="selectedCity(this.value)" ng-model="city" required>
  <option value="London">London</option>
  <option value="Brighton">Brighton</option>
  <option value="Belfast">Belfast</option>
  <option value="Cardiff">Cardiff</option>
  <option value="Newcastle">Newcastle</option>
  <option value="Elsewhere">Elsewhere</option>
</select><br>


<div id="cfield">Please type the city name: <br><input type="text" ng-model="city"></div>

Address : <br><textarea ng-model="address" required></textarea><br>
Interviewer: <br><input type="text" ng-model="interviewer" required><br>
Interviewee: <br><input type="text" ng-model="interviewee" required><br>
Interviewee's email: <br><input type="email" ng-model="intervieweeEmail" name="iemail" required> <br>
Interviewee's phone number: <br><input type="number" ng-model="intervieweePhone" required><br>
Date: <br><input type="date" ng-model="date" required> <br>
Unique interview ID: <br><input type="text" ng-model="interviewId"> <button ng-click="idFunc()">Generate ID</button><br>
<br>
<input type="submit" id="submit">
</form>







</div>
<div id="view">
<button onclick="toggleB()">Back to form</button>
		<div class="unstyled">
			<div data-ng-repeat="todo in viewdata track by $index">
			<div class="{{ todo.interviewPurpose }}">
				<span class="{{ todo.done }}">{{ todo.interviewPurpose }}</span> -
				<span class="{{ todo.done }}">{{ todo.city }}</span> -
				<span class="{{ todo.done }}">{{ todo.address }}</span> -
				<span class="{{ todo.done }}">{{ todo.interviewer }}</span> -
				<span class="{{ todo.done }}">{{ todo.interviewee }}</span> -
				<span class="{{ todo.done }}">{{ todo.intervieweeEmail }}</span> -
				<span class="{{ todo.done }}">{{ todo.intervieweePhone }}</span> -
				<span class="{{ todo.done }}">{{ todo.date }}</span> -
				<span class="{{ todo.done }}">{{ todo.interviewId }}</span>
			</div>
			</div>
		</div>

</div>

</div>

</div>

<script>
function toggleF(){
	document.getElementById("view").style.display = 'block';
	document.getElementById("add").style.display = 'none';
}
function toggleB(){
	document.getElementById("view").style.display = 'none';
	document.getElementById("add").style.display = 'block';
	
}
function selectedCity(city){

if(city == 'Elsewhere'){
	document.getElementById("cfield").style.display = 'block';	
	}
}

function requiredFunc(x,y){
if(y == "")
	document.getElementById(x+"s").style.display = 'block';
}
var app = angular.module('myApp', []);



app.controller('myCtrl', function($scope) {
$scope.dfield = "<input type=\"text\"";
     $scope.interviewId = "#"+Math.floor(Math.random() * 10000000000);
$scope.idFunc = function (){
      $scope.interviewId = "#"+Math.floor(Math.random() * 10000000000);
}
  $scope.myFunc = function () {
  var one = []; 
		one.push({
			interviewPurpose : $scope.interviewPurpose,
			city : $scope.city,
			address : $scope.address,
			interviewer : $scope.interviewer,
			interviewee : $scope.interviewee,
			intervieweeEmail : $scope.intervieweeEmail,
			intervieweePhone : $scope.intervieweePhone,
			date : $scope.date,
			interviewId : $scope.interviewId,
		});
if(localStorage.getItem('data')!==null){
	var two = JSON.parse(localStorage.getItem('data'));
	var twoo = two.concat(one);
	var twooo = JSON.stringify(twoo);
	localStorage.setItem('data', twooo);
}
else
		localStorage.setItem('data', JSON.stringify(one));
alert("Data saved successfully");

	$scope.saved = localStorage.getItem('data');
	if(localStorage.getItem('data')!==null)
		$scope.viewdata = JSON.parse($scope.saved);

	}
	$scope.saved = localStorage.getItem('data');
		if(localStorage.getItem('data')!==null)
		$scope.viewdata = JSON.parse($scope.saved);



});


</script>


</body>
</html>