		body{
		 margin:0px;
		 width:100%;
 		 background-color:#000000;
		text-align:center;
		 }
		 body p,label{
 			margin:0px;
			font-size:20px;
		 }
		 body a{
			 text-decoration:none;
			font-family: 'Architects Daughter', cursive;		 }
		 body a:hover{
			 text-decoration:underline;
		 }
		#total{
			overflow-x:hidden;
			width:100%;
	 		 background-color:#999887;
		}
		#error {
			font-family: 'Architects Daughter', cursive;			color:#FF0000;
		}
		input,select {
			width:90%;
			background-color:#FFFFFF;
			border:1px solid #EAE8E8;
			font-family: 'Architects Daughter', cursive;
			border-radius:3px;
		}
		#submit {
			margin:10px 0px 10px 0px;
			width:50%;
			background-color:#127FDB;
			font-family: 'Architects Daughter', cursive;			color:#FFFFFF;
			border-radius:3px;
			font-size:20px;
		}
		#foot{
			width:100%;
			margin:auto;
			background-image:url(images/foot.png);
			background-repeat:repeat-x;
			height:50px;
			font-family: 'Architects Daughter', cursive;
			padding:10px;
			color:#FCF303;		
			font-size:15px;
			margin-top:10px;
		}
		#foot a{
			color:#FCF303;		
			text-decoration:none;		
			margin-right:30px;
			margin-left:30px;
		}
		#foot a:hover{
				text-decoration:underline;	
		}		
input,select{
font-size:18px;
border:1px solid #BCC8D3;
}
