		body{
		 margin:0px;
		 width:100%;
			background-color:#000000;
		text-align:center;
		overflow-x:hidden;
		 }


		 body a:hover{
			 text-decoration:underline;
		 }
		#navmenu {
			padding:0px 5px 0px 5px;
		}
		#navmenu a{
			color:#F0E92F;
//			color:#F60D6A;
			margin:0px 10px 0px 10px;
			font-size:18px;
			
		}
		#navmenu a:hover{
			color:#96E76A;
			text-decoration:none;
		}
		#total{
			overflow-x:hidden;
 		    width:100%;
 		    background-color:#999887;
		}

		#error {
			font-family: 'Architects Daughter', cursive;
			color:#FF0000;
		}
		input,select {
			width:90%;
			background-color:#FFFFFF;
			border:1px solid #EAE8E8;
			font-family: 'Architects Daughter', cursive;
			border-radius:3px;
		}
		#submit {
			margin:5px 0px 5px 0px;
			padding:0px 5px 0px 5px;
			width:50%;
			background-color:#175499;
			font-family: 'Architects Daughter', cursive;
			color:#FFFFFF;
			border-radius:3px;
			font-size:18px;
		}
		
		
		
#list-o{
 width:100%;
// background-color:#CFD3D6;
 background-color:#EAE8E8;
 padding:0px;
 margin-top:-25px;
border-radius:3px;
overflow:auto;
 }

#list-i{
 text-align:left;
 margin:20px auto 0px auto;
 padding:0px 5px 0px 5px;
}
#list-i img{
 float:left;
 width:30px;
 height:30px;
}
#l1{
 color:#000000;
 margin-left:10px;
  text-decoration:none;
}
#l2{
 color:#FFFFFF;
 background-color:#127FDB;
 border-radius:3px;
 font-size:15px;
 padding:5px;
 float:right;
  text-decoration:none;
 margin:0px 0px 5px 0px;
}
		
#l1:hover{
 color:#6C6969;
}
#l2:hover{
 	 background-color:#176AB0;
}		
		
		
		
/*
#list-o2{
 width:100%;
 background-color:#EAE8E8;
//border-radius:3px;
border-bottom:1px solid #999887;
overflow:auto;
 }

#list-i2{
 text-align:left;
 padding:3px;
}

#list-i2 img{
 float:left;
 width:30px;
 height:30px;
 margin-top:3px;
}
#l12{
 font-weight:bold;
 color:#127FDB;
 margin-left:10px;
 text-decoration:none;

}
#l22{
 color:#FFFFFF;
 background-color:#127FDB;
 border-radius:3px;
 font-size:15px;
 float:right;
 padding:5px;
  text-decoration:none;
   margin:0px 0px 5px 0px;
}

#l12:hover{
 color:#6C6969;
}
#l22:hover{
 	 background-color:#176AB0;
}
*/
#l12{
font-weight:bold;
color:#065BA4;
 text-decoration:none;
}
#l22{
 color:#FFFFFF;
 background-color:#127FDB;
 border-radius:3px;
 font-size:15px;
 float:right;
 padding:5px;
  text-decoration:none;
}


#l22:hover{
 	 background-color:#176AB0;
}


#pre,#nex {
 color:#FFFFFF;
 background-color:#127FDB;
 border-radius:3px;
 font-size:15px;
 float:right;
 padding:5px;
 margin:3px;
  text-decoration:none;
}


#list-o3{
 width:100%;
 background-color:#D2D2D2;
border-bottom:1px solid #EAE8E8;
   text-align:left;
   overflow:auto;
     font-size:15px;
 }

#list-o3 b{
 padding:0px 3px 0px 3px;
margin:0px;
  }
 #list-o3 span{
  padding:0px 3px 0px 0px;
  float:right;
  text-align:right;
  font-size:15px;
  margin:0px;
}
#l13{
 color:#000000;
 margin-left:10px;
 text-decoration:none;
}
#l23{
 color:#FFFFFF;
 background-color:#127FDB;
 border-radius:3px;
 font-size:15px;
 float:right;
// padding:5px;
   margin:0px 0px 5px 0px;
  text-decoration:none;
}






#btn {
 color:#FFFFFF;
 background-color:#127FDB;
 border-radius:3px;
 font-size:15px;
 padding:5px;
  text-decoration:none;
}
#btndiv{
	 background-color:#127FDB;
	 white-space:nowrap;
//	 padding:10px;
}

#btndiv2{
 margin-bottom:10px;
}

#btndiv2-i{
	 background-color:#127FDB;
	 white-space:nowrap;
	 height:39px;
}


#btn2 {
 color:#FFFFFF;
// background-color:#127FDB;
 background-color:#065BA4;
 border-radius:2px;
 font-size:15px;
 padding:5px 5px 5px 5px;
  text-decoration:none;
// border:1px solid #A1B4C4;
}
#btn3 {
	color:#FFFFFF;	
 background-color:#065BA4;
 padding:5px 0px 5px 0px;
 text-decoration:none;
 font-size:15px;
 width:100%;
}
textarea {
	width:95%;
	border:none;
}

#slam-read {
	border-collapse:collapse;
	width:100%;
	color:#28850F;
}
#slam-read b{
	color:#F23F08;
}
#slam-read tr{
	border-bottom:2px solid #999887;
}

#slam-read input,select {
	width:100%;
}
#cmt {
    font-size:18px;
	border-bottom:2px solid #999887;
//	color:#F20966;
		word-wrap: break-word;
}
#cmt a{
	color:#0D5491;
}
.spldiv a{
color:#1158B9;
}
#no {
	font-size:15px;
	color:#000000;
	background-color:#FFFFFF;
	padding:0px 30px 0px 30px;
}
		
		#foot{
			width:100%;
			margin:auto;
			background-image:url(images/foot.png);
			background-repeat:repeat-x;
			height:50px;
			font-family: 'Architects Daughter', cursive;
			padding:10px;
			color:#FCF303;		
			font-size:15px;
			margin-top:10px;
		}

		#foot a{
			color:#FCF303;		
			text-decoration:none;		
			margin-right:30px;
			margin-left:30px;
		}
		#foot a:hover{
				text-decoration:underline;	
		}	
		 body p{
 			margin:0px;
			font-size:18px;
//			word-break:break-all;
		 }
		 body a{
			 text-decoration:none;
			font-family: 'Architects Daughter', cursive;
			font-size:20px;
}		
table {
	table-layout : fixed;
}
table td{
//	word-break: break-all;
		word-wrap: break-word;
}